*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Gradle
.gradle/
build/
local/
gradle/

# Android Studio
.idea/

# Cache and temporary files
caches/
.tmp/
daemon/

# Kotlin Profile
kotlin-profile/

# Operating system files
Thumbs.db

# Logs
*.log
